<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AppSensCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="AppSensConnectionString" connectionString="Data Source=EDDESKTOP\SQLEXPRESS;Initial Catalog=SensoresBiomedicos;Integrated Security=False;User ID=senso;Password=S3ns0;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<applicationSettings>
		<AppSensCom.Properties.Settings>
   <setting name="SpGetListPacienteByIdEmpresa" serializeAs="String">
    <value>EXEC spGetListPacienteByIdEmpresa {0}</value>
   </setting>
   <setting name="SpGetListSensorByIdUsario" serializeAs="String">
    <value>EXEC spGetListSensorByIdUsario {0}</value>
   </setting>
   <setting name="spGetListSensor" serializeAs="String">
    <value>EXEC spGetListSensor</value>
   </setting>
   <setting name="ConexionRetryTime" serializeAs="String">
    <value>35000</value>
   </setting>
   <setting name="SpAddResultPaciente" serializeAs="String">
    <value>EXEC spAddResultPaciente {0}, {1}, '{2}', '{3}'</value>
   </setting>
   <setting name="QuantityResult" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="NameFileResultMedidas" serializeAs="String">
    <value>\Results.xml</value>
   </setting>
   <setting name="PathCloudTool" serializeAs="String">
    <value>C:\Users\Edward\Documents\Visual Studio 2015\Projects\AppSensCom\CloudTool\HumanVolumeCalculator\bin\Debug\HumanVolumeCalculator.exe</value>
   </setting>
   <setting name="NameAppCloud" serializeAs="String">
    <value>HumanVolumeCalculator</value>
   </setting>
   <setting name="PathSpeech" serializeAs="String">
    <value>C:\Users\Edward\Documents\Visual Studio 2015\Projects\AppSensCom\Speech2\bin\AnyCPU\Debug\SpeechBasics-WPF.exe</value>
   </setting>
   <setting name="SecondsBySensor" serializeAs="String">
    <value>10</value>
   </setting>
  </AppSensCom.Properties.Settings>
	</applicationSettings>
</configuration>